# Ignore Python compiled files
__pycache__/
*.pyc

# Ignore virtual environment directories
env/
venv/

# Ignore macOS specific files
.DS_Store

# Ignore log files
*.log

# Ignore node_modules directory
node_modules/

# Ignore VS Code settings
.vscode/

amazon-elasticache-samples/

requirements.txt